div {
    padding: 3px;
}

.navbar-text {
    display: flex;
    text-align: center;
    vertical-align: top;
}

.first {
    text-align: center;
    margin: 10px;
}

.bor {
    border-bottom: 3px solid black;
}

.button {
    border: 3px solid purple;
    background-color: purple;
    padding: 8px;
    color: white;
    border-radius: 10%;
}

.button:hover {
    background-color: pink;
    border: 3px solid pink;
    color: gray;
    transition: 1s;
}


.ent-butt {
    display: flex;
    size: 10px 10px;
    background-color: darkblue;
    color: white;
    text-align: center;
    border-radius: 5%;
    padding: 10px;
}

.ent-butt:hover {
    background-color: pink;
    color: gray;
    transition: 0.5s;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* дизайн profile_children */
.pro-child-text {
    padding: 2px 18px;
    font-size: 36px;
}

.pro-child-font {
    text-align: center;
}

.pro-child-mainform {
    padding: 1px;
    margin: 8px 10px;
    background-color: rgba(221, 221, 221, 0.25);
    border-radius: 5%;
}

.pro-child-form {
    background-color: rgba(221, 221, 221, 0.25);
    border-radius: 5%;
}

.pro-child-line {
    padding: 0px;
    border-bottom: 1px solid silver;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.pro-child-btns {
    display: flex;
    justify-content: center;
}

.pro-btn {
    display: block;
    max-width: 150px;
    min-width: 100px;
}

.btn-submit {
    margin: 3px;
    justify-content: center;
    max-height: 40px;
}

.btn-show {
    margin: 3px;
}
