.reg-ent-window {
    border: 0.5px solid black;
    padding: 50px;
    border-radius: 10%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
}

.empty-block-reg {
    height: 60px;
}

.empty-block-enter {
    height: 150px;
}

.main-form {
    padding: 10px 50px;
    margin: 20px 5px;
}


