{% extends "base.html" %}
{% block content %}
<div class="empty-block-reg">

</div>
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6 reg-ent-window">
            <h1 style="text-align:center">Создание вакансии</h1>
            <form method="post" class="main-form">

                <div class="form-group mb-5">
                    <label>Название профессии</label>
                    <input type="text" class="form-control"
                           name="name"
                           placeholder="Введите название профессии">
                </div>
                <div class="form-group mb-5">
                    <label>Минимальный требуемый возраст</label>
                    <input type="number" class="form-control"
                           name="name" value="14" min="14">
                </div>

                <div class="form-group mb-5">
                    <label>Описание работы и обязанности рабочего</label>
                    <textarea style="background-color: " name="Text1" cols="80"
                              rows="5" class="form-control" maxlength="1000"
                              placeholder="Напишите, что должен будет делать работник (до 1000 символов)"></textarea>
                </div>

                <div class="form-group mb-5">
                    <label>Минимальный требуемый возраст</label>
                    <input type="number" class="form-control"
                           name="name" value="0" min="0">
                </div>

                <button type="submit" class="btn btn-primary">Создать</button>
            </form>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
{% block main %}

{% endblock %}
{% endblock %}