<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <meta name="viewport" charset="UTF-8">
    <title>Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bor">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WorkSearch</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/profile">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/vacancies">Вакансии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Инструкция</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    {% if current_user.is_authenticated %}
                        <h3>{{ current_user.name }}</h3>
                    {% else %}
                        <div>
                            <button onclick="window.location.href = '/enter'"  class="btn btn-outline-primary">Вход</button>
                            <button onclick="window.location.href = '/registration'" class="btn btn-primary">Регистрация</button>
                        </div>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>

</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>

</html>