{% extends "base.html" %}
{% block content %}
<h1 class="first">Инструкция по использованию сервиса Work Search</h1>
<div class="ms-3">
    <ol>
        <li class="fs-4">
            <a href="#start"> Начало работы</a>
        </li>
        <li class="fs-4">
            <a href="#child"> Ребёнок</a>
        </li>
        <li class="fs-4">
            <a href="#parent"> Родитель</a>
        </li>
        <li class="fs-4">
            <a href="#hh"> Работодатель</a>
        </li>
    </ol>
    <h2 id="start">Начало работы</h2>
    <div class="ms-5">
        <p class="fs-4" align="left">
            Для начала работы с сайтом необходимо пройти регистрацию. Для этого нужно выбрать одну из ролей:<br>
            <b>Ребёнок - если вы ищите работу <br>Родитель - если хотите помочь ребёнку с выбором вакансии <br>
                Работодатель - если хотите выставлять вакансии<br></b>
            Также нужно ввести своё имя, почту и пароль.<br>
            Теперь вы можете приступить к работе с сервисом.
        </p>
    </div>

    <h2 id="child">Ребёнок</h2>
    <div class="ms-5">
        <p class="fs-4" align="left">
            Для поиска работы ребенку нужно перейти в раздел "Вакансии" в шапке страници. При выборе интересующей вакансии пользователь перейти к детальному просмотру нажав на кнопку "Перейти".
            При желании связаться с работодателем вы можете воспользоваться оставленными им данными, либо нажав на кнопку " ".
            В таком случае работодатель сможет изучить ваше резюме и ваши данные. Изменить данные, в том числе и резюме, можно изменить в профиле. Резюме может быть как и ввиде напечатанного текста, либо ввиде файла.
            <br> <b>Важно!</b> При привязке аккаунта родителя к аккаунту ребёнка, ребёнку будут доступны вакансии, которые отобрал для него родитель (см. раздел <a href="#parent">Родитель</a>)
        </p>
    </div>
</div>

{% endblock %}