{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Инструкция по использованию сервиса Work Search</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#start" class="list-group-item list-group-item-action">Начало работы</a>
                <a href="#child" class="list-group-item list-group-item-action">Ребёнок</a>
                <a href="#parent" class="list-group-item list-group-item-action">Родитель</a>
                <a href="#hh" class="list-group-item list-group-item-action">Работодатель</a>
                <a href="#help" class="list-group-item list-group-item-action">Поддержка</a>
            </div>
        </div>
        <div class="col-md-9">
            <h2 id="start" class="mt-4">Начало работы</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">
                        Для начала работы с сайтом необходимо пройти регистрацию. Для этого нужно выбрать одну из ролей:
                        <ul>
                            <li><b>Ребёнок</b> - если вы ищете работу</li>
                            <li><b>Родитель</b> - если хотите помочь ребёнку с выбором вакансии</li>
                            <li><b>Работодатель</b> - если хотите выставлять вакансии</li>
                        </ul>
                        Также нужно ввести своё имя, почту и пароль. После регистрации вы можете приступить к работе с сервисом.
                    </p>
                </div>
            </div>

            <h2 id="child" class="mt-4">Ребёнок</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">
                        Для поиска работы ребенку нужно перейти в раздел "Вакансии" в шапке страницы. При выборе интересующей вакансии пользователь может перейти к детальному просмотру, нажав на кнопку "Перейти".
                        <br>При желании связаться с работодателем вы можете воспользоваться оставленными им контактными данными.
                        <br>Работодатель сможет изучить ваше резюме и ваши данные. Изменить данные, включая резюме, можно в профиле. Резюме может быть как в виде текста, так и в виде файла.
                        <br>Ребёнок может откликаться на вакансии, перейдя на соответствующую карточку и нажав на кнопку "Откликнуться". После этого работодатель получит уведомление, сможет просмотреть ваше резюме и написать вам ответ.
                        <br>В профиле отображается вся информация об аккаунте: имя, почта, резюме, ваши отклики на вакансии. Все эти данные можно изменять.
                        <br>В разделе уведомлений у ребёнка отображаются заявки родителя на привязку аккаунтов.
                        <br><b>Важно!</b> При привязке аккаунта родителя к аккаунту ребёнка, ребёнку будут доступны вакансии, которые отобрал для него родитель (см. раздел <a href="#parent">Родитель</a>).
                    </p>
                </div>
            </div>

            <h2 id="parent" class="mt-4">Родитель</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">
                        Основной функцией аккаунта родителя является возможность привязаться к аккаунту ребёнка.
                        <br>Для этого нужно перейти в профиль, ввести в соответствующей строке почту ребёнка и нажать на кнопку "Отправить запрос". Заявка отправится ребёнку, и после того, как он её примет, ребёнок будет отображён в вашем аккаунте.
                        <br>Изначально у ребёнка привязанного к родителю вакансии отображаться не будут, так как вы сами должны отобрать их для него. Для этого перейдите во вкладку "Вакансии" и, переходя на карточки выбранных вакансий, отображайте их у ребёнка, нажав на кнопку "Добавить вакансию ребёнку".
                        <br>В профиле отображается вся информация об аккаунте: имя, почта, почта ребёнка. Все эти данные можно изменять. Также доступно отображение вакансий.
                    </p>
                </div>
            </div>

            <h2 id="hh" class="mt-4">Работодатель</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">
                        Работодателю доступно создание и управление вакансиями.
                        <br>Для того чтобы воспользоваться этим функционалом, нужно перейти в профиль. В нём можно добавить вакансию, нажав на соответствующую кнопку, редактировать уже созданные вакансии, удалять их. Для добавления вакансии нужно ввести её название, минимальный возраст работника, адрес, зарплату (в неделю) и описание работы. После подтверждения она отобразится у всех пользователей во вкладке "Вакансии". Работодатель также может добавить свои контакты (помимо почты) в профиле. Эти контакты будут отображаться на карточке вакансии.
                        <br>В профиле отображается вся информация об аккаунте: имя, почта, ваши вакансии. Все эти данные можно изменять.
                        <br>Отклики на ваши вакансии отображаются в уведомлениях (иконка колокольчика рядом с именем). Там же можно найти почту искателя работы и просмотреть его резюме.
                    </p>
                </div>
            </div>

            <h2 id="help" class="mt-4">Поддержка</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">
                        Остались вопросы? Пишите нам на почту:
                        <br><b>vladchuprina12@yandex.ru</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}