{% extends "base.html" %}
{% block content %}
    <div class="mb-3 row">
            <label for="staticName" class="col-sm-2 col-form-label">Имя</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticName" value={{current_user.name}}>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{current_user.email}}>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticRole" class="col-sm-2 col-form-label">Роль</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticRole" value="Ребёнок">
            </div>
        </div>
{% block main %}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Расскажите о себе</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="file" class="form-label">Или прикрепите резюме</label>
        <input class="form-control" type="file" name="file" id="file">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<button onclick="window.location.href = '/resume'"  class="btn btn-outline-primary">Просмотр</button>
{% endblock %}
{% endblock %}