{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="mb-5 row"></div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10 pro-child-spare">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3 row pro-child-text">Ваш профиль</div>
                <div class="pro-child-flex container">
                    <div class="row">
                        <div class="pro-child-mainform col-7">
                            <div class="mb-3 row pro-child-line">
                                <label for="staticName" class="col-sm-2 col-form-label">Имя</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control-plaintext" name="staticName" id="staticName"
                                           value={{current_user.name}}>
                                </div>
                            </div>
                            <div class="mb-3 row pro-child-line">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control-plaintext" name="staticEmail"
                                           id="staticEmail" value={{current_user.email}}>
                                </div>
                            </div>
                            <div class="mb-3 row pro-child-line">
                                <label for="staticRole" class="col-sm-2 col-form-label">Роль</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="staticRole"
                                           value="Работодатель">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="filetxt" class="form-label">Расскажите о себе</label>
                                <textarea class="form-control" name="filetxt" id="filetxt" rows="3"></textarea>
                            </div>
                            <div>
                                <label for="file" class="form-label">Или прикрепите резюме</label>
                                <input class="form-control" type="file" name="file" id="file">
                            </div>
                            <div class="mb-0">

                                <button type="button" onclick="window.location.href = '/resume'"
                                        class="left btn btn-outline-primary btn-show pro-btn">Просмотр
                                </button>

                            </div>

                            <div class="mb-3 row"></div>
                        </div>
                        <div class="pro-child-mainform col-3" style="background-color: white;">
                            <div class="pro-child-form">
                                <div class="mb-4 row"></div>
                                <div class="pro-child-btns">
                                    <button type="submit" class="btn btn-primary btn-submit pro-btn">Сохранить</button>
                                </div>
                                <p class="pro-child-font">
                                    Нажимая на кнопку "Сохранить", вы принимаете правила пользовательского соглашения и
                                    политики конфиденциальности, а также даете согласие на обработку персональных данных
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% block main %}

{% endblock %}
{% endblock %}