{% extends "base.html" %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="mb-5 row"></div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10 pro-child-spare">
            <div class="mb-3 row pro-child-text">Ваш профиль</div>
            <div class="pro-child-flex container">
                <div class="row">
                    <div class="pro-child-mainform col-7">
                        <form id="nameEmail" action="/update_data" method="post">
                            <div class="mb-3 row pro-child-line">
                                <label for="staticName"
                                       class="col-sm-2 col-form-label">Имя</label>
                                <div class="col-sm-10">
                                    <input type="text" required
                                           class="form-control-plaintext"
                                           name="name" id="staticName"
                                           value={{current_user.name}}>
                                </div>
                            </div>
                            <div class="mb-3 row pro-child-line">
                                <label for="staticEmail"
                                       class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email"
                                           class="form-control-plaintext"
                                           name="email" required
                                           id="staticEmail"
                                           value={{current_user.email}}>
                                </div>
                            </div>
                        </form>
                        <div class="mb-3 row pro-child-line">
                            <label for="staticRole"
                                   class="col-sm-2 col-form-label">Роль</label>
                            <div class="col-sm-10">
                                <input type="text" readonly
                                       class="form-control-plaintext"
                                       id="staticRole"
                                       value="Работодатель">
                            </div>
                        </div>
                        <div class="mb-3 row pro-child-line">
                            <label for="staticRole"
                                   class="col-sm-2 col-form-label">
                                Контакты
                            </label>
                            {% if current_user.contacts == '' %}
                            <div class="col-sm-10">
                                <input type="text" readonly
                                       class="form-control-plaintext"
                                       value="Ваши контакты не указаны">

                            </div>
                            {% else %}
                            <div class="col-sm-10">
                                {% for e in contacts %}
                                <form action="/del_contact" method="post"
                                      style="display: flex; justify-content: space-between; margin: 3px 2px;">
                                    <input type="text" readonly
                                           class="form-control-plaintext"
                                           name="contact"
                                           value="{{ e.split('-')[0] }}:    {{ e.split('-')[1] }}">
                                    <button name="delete" value="{{ e }}"
                                            style="background-color: a9a9a9; border: 0px solid black; border-radius: 5px; padding: 2px 10px">
                                        Удалить
                                    </button>
                                </form>

                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div style="display: flex; justify-content: start;">
                            <form action="/create_vacancy" method="post">
                                <button class="btn btn-outline-primary btn-show pro-btn">
                                    Добавить вакансию
                                </button>
                            </form>

                            <!-- Кнопка-триггер модального окна -->
                            <button type="button"
                                    class="left btn btn-outline-success btn-show pro-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                Добавить контакты
                            </button>

                        </div>





                        <!-- Модальное окно для ввода контактов -->
                        <div class="modal fade" id="exampleModal"
                             tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">
                                            Добавление ваших контактов</h5>
                                        <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                    </div>
                                    <form action="/add_cont" method="post" enctype="multipart/form-data">

                                        <div class="modal-body">
                                            Введите название соцсети и ваш
                                            номер/имя, чтобы с вами могли
                                            связаться

                                            <div style="display: flex; justify-content: space-between;">
                                                <div>
                                                    <p>Соц-сеть</p>
                                                    <input type="text" name="net" value="" style=""
                                                           placeholder="Введите название соц-сети">
                                                </div>
                                                <div>
                                                    <p>Имя или номер</p>
                                                    <input type="text" name="way" value="" style=""
                                                           placeholder="Введите ваше имя">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                Закрыть
                                            </button>
                                            <button type="submit" name="add"
                                                    class="btn btn-primary">
                                                Сохранить изменения
                                            </button>


                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="pro-child-mainform col-3"
                         style="background-color: white;">
                        <div class="pro-child-form">
                            <div class="mb-4 row"></div>
                            <div class="pro-child-btns">
                                <button  type="submit"
                                        class="btn btn-primary btn-submit pro-btn" form="nameEmail">
                                    Сохранить
                                </button>
                            </div>
                            <p class="pro-child-font">
                                Нажимая на кнопку "Сохранить", вы
                                принимаете правила пользовательского
                                соглашения и
                                политики конфиденциальности, а также даете
                                согласие на обработку персональных данных
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 row"></div>
            <div class="mb-3 row pro-child-text">Ваши вакансии</div>
            <div class="pro-child-flex container">
                {% for i in range(0, count, 3) %}
                    <div style="display: flex; justify-content: space-between;">
                        {% for e in vacancies[i:i+3] %}
                            <form method="post" style="border: 1px solid DarkGray; height: 290px;
                            width: 320px; background-color: Honeydew; border-radius: 5px;
                            padding: 5px; margin: 10px; display: flex; flex-direction: column;
                            justify-content: space-between; font-size: 20px;">
                                <div>
                                    <h4>{{ e[0] }}</h4>
                                    <p>От {{e[1]}} лет</p>
                                    <p class="w-100">Место работы: {{e[2]}}</p>
                                    <p style="font-weight: bold;" >Зарплата: {{e[3]}} рублей в неделю</p>
                                </div>

                                <button id={{e[5]}} name="{{e[5]}}" class="btn btn-outline-primary btn-show pro-btn" type="submit">
                                    Перейти
                                </button>
                            </form>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% block main %}

{% endblock %}
{% endblock %}