{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="mb-5 row"></div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10 pro-child-spare">
            <div class="mb-1 row pro-child-text">Вакансия: {{vac.name}}</div>
            <div class="pro-child-flex container">
                <div class="row">
                    <div class="pro-child-mainform col-7">
                        <form id="otklik" action="/otklik"
                              method="post">
                            <input name="id" value="{{ vac.id }}" hidden>
                            <div class="mb-3 row pro-child-line">
                                <label class="col-sm-2 col-form-label">Возраст</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly
                                           class="form-control-plaintext"
                                           name="name"
                                           value="От {{vac.minimal_age}} лет">
                                </div>
                            </div>
                            <div class="mb-3 row pro-child-line">
                                <label class="col-sm-2 col-form-label">Место
                                    работы</label>
                                <div class="col-sm-10">
                                    <p>{{vac.town}}, {{vac.address}}</p>
                                </div>
                            </div>
                        </form>
                        <div class="mb-3 row pro-child-line">
                            <label class="col-sm-2 col-form-label">Обязанности
                                и условия</label>
                            <div class="col-sm-10">
                                <!--                                <input type="text" readonly-->
                                <!--                                       class="form-control-plaintext"-->
                                <!--                                       value="">-->
                                <p>{{vac.description}}</p>
                            </div>
                        </div>

                        <div class="mb-3 row pro-child-line">
                            <label class="col-sm-2 col-form-label">Зарплата</label>
                            <div class="col-sm-10">
                                <input type="text" readonly
                                       class="form-control-plaintext"
                                       value="{{vac.salary}} рублей в неделю">
                            </div>
                        </div>

                        <div class="mb-3 row pro-child-line">
                            <label class="col-sm-2 col-form-label">Работодатель</label>
                            <div class="col-sm-10">
                                <input type="text" readonly
                                       class="form-control-plaintext"
                                       value="{{owner.name}}">
                            </div>
                        </div>

                        <div class="mb-3 row pro-child-line">
                            <label class="col-sm-2 col-form-label">
                                Контакты
                            </label>

                            <div class="col-sm-10">
                                <input type="text" readonly
                                       class="form-control-plaintext"
                                       name="contact"
                                       value="Почта:    {{owner.email}}">
                                {% if contacts %}
                                    {% for e in contacts %}

                                    <input type="text" readonly
                                           class="form-control-plaintext"
                                           name="contact"
                                           value="{{ e.split('-')[0] }}:    {{ e.split('-')[1] }}">

                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>

                        <div style="display: flex; justify-content: start;">
                            <form action="/vacancies" method="get">
                                <button class="btn btn-outline-primary btn-show pro-btn">
                                    Назад
                                </button>
                            </form>
                            {% if vac.owner == current_user.id %}
                            <!-- Кнопка-триггер модального окна -->
                            <button type="button"
                                    class="left btn btn-outline-success btn-show pro-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                Редактировать
                            </button>
                            {% endif %}
                        </div>
                        <div class="modal fade" id="exampleModal"
                             tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">
                                            Изменение формы</h5>
                                        <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                    </div>
                                    <form action="/redact_form" method="post"
                                          enctype="multipart/form-data">

                                        <div class="modal-body">
                                            Измените те параметры вашей
                                            вакансии, которые вас не устраивают

                                            <div class="form-group mb-5">
                                                <label>Название
                                                    профессии</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="name1" value="{{vac.name}}"
                                                       required maxlength="50"
                                                       placeholder="Введите название профессии">
                                            </div>
                                            <div class="form-group mb-5">
                                                <label>Минимальный требуемый
                                                    возраст</label>
                                                <input type="number"
                                                       class="form-control"
                                                       required
                                                       name="age" value="{{vac.minimal_age}}"
                                                       min="14">
                                            </div>

                                            <div class="form-group mb-5">
                                                <label>Город</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="town" value="{{vac.town}}"
                                                       required
                                                       placeholder="Введите название города трудоустройства">
                                            </div>

                                            <div class="form-group mb-5">
                                                <label>Адрес</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="address" value="{{vac.address}}"
                                                       required
                                                       placeholder="Введите адрес рабочего места">
                                            </div>

                                            <div class="form-group mb-5">
                                                <label>Описание работы и
                                                    обязанности
                                                    рабочего</label>
                                                <textarea
                                                        style="background-color: "
                                                        name="Text1" cols="80"
                                                        required
                                                        rows="5"
                                                        class="form-control"
                                                        maxlength="1000"
                                                        placeholder="Напишите, что должен будет делать работник (до 1000 символов)">{{vac.description}}</textarea>
                                            </div>

                                            <div class="form-group mb-5">
                                                <label>Зарплата в неделю (сумма
                                                    в рублях)</label>
                                                <input type="number"
                                                       class="form-control"
                                                       required
                                                       name="salary" value="{{vac.salary}}"
                                                       min="0">
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                Закрыть
                                            </button>
                                            <button type="submit" id="{{vac.id}}" name="id" value="{{vac.id}}"
                                                    class="btn btn-primary">
                                                Сохранить изменения
                                            </button>


                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                    {% if current_user.role != 'option3' %}

                        <div class="pro-child-mainform col-3"
                             style="background-color: white;">
                            <div class="pro-child-form" style="width: 20rem;">
                                <div class="mb-4 row"></div>
                                {% if current_user.role == 'option2' %}
                                    {% if not current_user.child %}
                                        <p class="pro-child-font">
                                            У вас пока что не добавлен ребенок. Можете добавить его в <a href="/profile">Профиле</a>
                                        </p>
                                    {% elif not db_ses.query(User).filter_by(id=current_user.child.split(', ')[1]).first().worksfromparent %}
                                        <div class="pro-child-btns">
                                            <form method="post" class="main-form">
                                                <button type="submit"
                                                        class="btn btn-primary btn-submit"
                                                        style="width: 100%;">
                                                    Добавить вакансию ребёнку
                                                </button>
                                            </form>
                                        </div>
                                        <p class="pro-child-font">Она будет отображаться в списке вакансий вашего ребенка</p>

                                    {% elif ids in db_ses.query(User).filter_by(id=current_user.child.split(', ')[1]).first().worksfromparent.split(', ')[1:] %}
                                        <div class="pro-child-btns">
                                            <button type="submit"
                                                    class="btn btn-outline-secondary btn-submit pro-btn"
                                                    form="otklik" disabled>
                                                Добавлено
                                            </button>
                                        </div>

                                        <p class="pro-child-font">
                                            Вашему ребенку добавилась эта вакансия.
                                        </p>

                                    {% else %}
                                        <div class="pro-child-btns"  >
                                            <form method="post" class="main-form">
                                                <button type="submit"
                                                        class="btn btn-primary btn-submit"
                                                        style="width: 100%;">
                                                    Добавить вакансию ребёнку
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                {% elif current_user.role == 'option1' %}

                                    {% if ids in current_user.otkliks.split(', ') %}
                                        <div class="pro-child-btns">
                                            <button type="submit"
                                                    class="btn btn-outline-secondary btn-submit pro-btn"
                                                    form="otklik" disabled>
                                                Откликнуто
                                            </button>
                                        </div>
                                        <p class="pro-child-font">
                                            Работодателю уже пришло уведомление. Ожидайте, пока свяжется с вами работодатель по указанным вами контактами. Либо свяжитесь с ним сами.
                                        </p>
                                    {% else %}
                                        <div class="pro-child-btns">
                                            <button type="submit"
                                                    class="btn btn-primary btn-submit pro-btn"
                                                    form="otklik">
                                                Откликнуться
                                            </button>
                                        </div>
                                        <p class="pro-child-font">
                                            Работодателю придет уведомление и он свяжется с вами по указанным вами контактами.
                                        </p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% elif current_user.id == vac.owner %}
<!--                    <div class="pro-child-mainform col-3"-->
<!--                             style="background-color: white;">-->
<!--                            <div class="pro-child-form">-->
<!--                                <div class="mb-4 row"></div>-->
<!--                                <div class="pro-child-btns">-->
<!--                                    <form action="/go_to_vacancy">-->
<!--                                        <input hidden name="anket" value="{{ vac }}">-->
<!--                                        <button type="submit"-->
<!--                                            class="btn btn-outline-danger btn-submit pro-btn">-->
<!--                                            Удалить анкету-->
<!--                                        </button>-->
<!--                                    </form>-->

<!--                                </div>-->
<!--                                <p class="pro-child-font">-->
<!--                                    Эта вакансия будет удалена.-->
<!--                                </p>-->
<!--                            </div>-->
<!--                    </div>-->
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% block main %}

{% endblock %}
{% endblock %}