{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="mb-5 row"></div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10 pro-child-spare">
            <div class="mb-1 row pro-child-text">Все вакансии</div>
            <div>
                <form method="post" style="display: flex; width: 400px;">
                    <input type="text" class="form-control"
                               name="find" value="{{ filter }}"
                               placeholder="Введите название города или вакансии">
                    <button class="btn btn-success">Найти</button>
                </form>

            </div>
            {% if vacancies %}
            <div class="container">
                <div class="row" style="display: flex; justify-content: space-between;">

                {% for i in range(0, count) %}
<!--                    <div style="display: flex; justify-content: space-between;">-->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <form action="/go_to_vacancy" method="post" style="border: 1px solid DarkGray;
                        min-height: 300px;
                        max-height: 400px;
                        max-width: 320px;
                        min-width: 160px;
                        background-color: Honeydew; border-radius: 5px;
                        padding: 5px; margin: 10px; display: flex; flex-direction: column;
                        justify-content: space-between; font-size: 20px;">
                            <div>
                                <h4>{{ vacancies[i][0] }}</h4>
                                <p>От {{vacancies[i][1]}} лет</p>
                                <p class="w-100">Место работы: {{vacancies[i][2]}}</p>
                                <p style="font-weight: bold;" >Зарплата: {{vacancies[i][3]}} рублей в неделю</p>
                            </div>

                            <button id={{vacancies[i][5]}} name="go-{{vacancies[i][5]}}" class="btn btn-outline-primary btn-show pro-btn" type="submit">
                                Перейти
                            </button>

                        </form>
                    </div>
<!--                    </div>-->
                {% endfor %}
                </div>
            </div>
            {% else %}
                {% if filter %}
                    <h3>Вакансий по вашему запросу не найдено</h3>
                {% else %}
                    <h3>Пока что нет вакансий</h3>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% block main %}

{% endblock %}
{% endblock %}