{% extends "base.html" %}
{% block content %}
    <h1 class="first">Добро пожаловать на сервис <br> Work Search</h1>

    <div class="row">
        <div class="col-sm-4">
            <div class="card h-100">
                <img src="https://avatars.dzeninfra.ru/get-zen_doc/3986710/pub_5f7316252d897a6dc9135db0_5f7317acaf93761c7384537e/scale_1200"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Устройся на свою первую работу</h5>
                    <p class="card-text"></p>
                    <a href="/registration" class="btn btn-primary">Зарегистрироваться</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <img src="https://avatars.dzeninfra.ru/get-zen_doc/235144/pub_5e411b525de562789d7f32bc_5e411e50be5b935e8df6dced/scale_1200"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Помоги ребёнку устроиться на работу</h5>
                    <p class="card-text"></p>
                    <a href="/registration" class="btn btn-primary">Зарегистрироваться</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <img src="https://vivat-consult.ru/assets/images/vopros/trudovoe_pravo/voprosy-kotorye-nuzhno-zadat-rabotodatelyu-na-sobesedovanii1.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Стань работодателем</h5>
                    <p class="card-text"></p>
                    <a href="/registration" class="btn btn-primary">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}